fastapi
uvicorn
python-multipart
torch
torchvision
timm
paddleocr==2.7.3
paddlepaddle==2.6.2
google-generativeai>=0.7.0
python-dotenv

chromadb
pydantic
numpy==1.26.4
pillow
PyMuPDF
sentence-transformers
